@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
  font-size: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  padding-top: 105px;
}

a {
  text-decoration: none;
  color: #000;
  display: block;
}

img {
  max-width: 100%;
}

ul,li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #fff;
  width: 100%;
}

.header-heading {
  width: 145px;
  line-height: 1;
}

.header-logo {
  width: 100%;
}

.header-heading-container {
  height: 70px;
  display: flex;
  align-items: center;
}

.nav-container {
  background-color: #333;
}

.header-nav {
  overflow-x: auto; /* 横スクロールを可能にする */
}

.nav-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 510px;
  height: 36px;
}

.nav-btn {
  font-size: 0.875rem;
  color: #fff;
  padding: 3px;
  transition-duration: 1s;
}

.nav-btn:hover, .about-item:hover,
.menu-item:hover {
  color: lightseagreen;
}

.pickup {
  margin-top: 45px;
}

.pickup-block {
  margin-bottom: 25px;
  padding-bottom: 5px;
  transition-duration: 1s;
}

.pickup-heading {
  font-weight: bold;
  margin: 5px 0 25px;
}

.pickup-introduction, .main-introduction {
  margin: 0 auto;
  font-size: 0.875rem;
  border-bottom: solid 1px;
  width: fit-content;
}

.pickup-block:hover, .main-block:hover,
.ranking-block:hover, .archive-item:hover {
  background-color: rgba( 206,226,248 , 1 );
}

.whole {
  margin: 20px 0 120px;
}

.main-block {
  transition-duration: 1s;
  margin-bottom: 80px;
  padding-bottom: 5px;
  width: 100%;
}

.main-heading {
  margin-bottom: 15px;
}

.date {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 0.875rem;
}

.main-text {
  width: 75%;
  margin: 5px auto 30px;
  text-align: justify;
}

.author-img{
  width: 130px;
  border-radius: 50%;
  margin: 0 auto 30px;
  display: block;
}

.subheading {
  font-size: 1.125rem;
  text-align: center;
}

.author-text {
  text-align: justify;
  font-size: 0.875rem;
  margin: 30px 0 50px;
}

.ranking-heading {
  font-size: 0.875rem;
}

.ranking-block {
  margin: 30px 0;
  transition-duration: 1s;
}

.ranking {
  margin: 0 0 20px;
}

.archive-item {
  font-size: 0.875rem;
  padding: 20px;
  border-top: solid 1px #777;
  transition-duration: 1s;
}

.archive-item:first-of-type {
  margin-top: 30px;
}

.archive-item:last-child {
  border-bottom: solid 1px #777;
}

.footer {
  background-color: #f7f7f7;
  padding-top: 50px;
}

.footer-subheading {
  font-size: 1.125rem;
}

.about-text {
  font-size: 0.875rem;
  margin: 30px 0 20px;
}

.about-item {
  font-size: 0.875rem;
  padding: 3px 3px 3px 0;
  transition-duration: 1s;
  width: fit-content;
}

.menu {
  margin: 50px 0 30px;
}

.menu-li {
  border-bottom: solid 1px #777;
}

.menu-li:first-child {
  margin-top: 20px;
  border-top: solid 1px #777;
}

.menu-item {
  padding: 15px;
  transition-duration: 1s;
}

.twitter-timeline {
  margin-top: 30px;
}

.footer-logo {
  margin-top: 85px;
  text-align: center;
  padding-bottom: 10px;
  font-size: 0.75rem;
}

@media (min-width: 900px) {

  .pickup {
    display: flex;
    justify-content: space-between;
    gap: 2%;
  }

  .pickup-block {
    width: calc(100%/3);
  }

  .whole {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 140px;
  }

  .main {
    width: 65%;
    margin-top: 45px;
  }

  .aside {
    width: 30%;
    margin-top: 45px;
    margin-right: 20px;
  }

  .main-heading {
    margin-bottom: 20px;
  }

  .main-text {
    width: 90%;
    margin: 10px auto 30px;
  }

  .author-text {
    margin-bottom: 60px;
  }

  .ranking {
    margin-bottom: 60px;
  }

  .footer {
    padding-top: 50px;
  }

  .footer-container {
    display: flex;
    gap: 5%;
  }

  .about, .menu, .twitter {
    width: calc(100% / 3);
    margin: 0;
  }

  .footer-logo {
    margin-top: 60px;
  }
}

/* タブレット向け（画面幅が601pxから900px） */
@media (min-width: 601px) and (max-width: 900px) {

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
  }

  .about  {
    width: 100%;
  }

  .menu, .twitter {
    width: 49%;
    margin: 50px 0 0;
  }

}
